@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
body {
  background-image: url("Images/Math-Mathematics-Formula-Wallpaper-for-PC.jpg");
  background-attachment: fixed;
  width: 90%;
  margin: auto;
  align-content: center;
  font-family: "montserrat"
}

h2 {
	font-weight: bold;
	font-size: 2.5vw;
	text-align: center;
}
h3 {
	font-weight: bold;
	font-size: 1.5vw;
	text-align: center;
}

.outcomes {
	width: 70%;
	margin: 0 auto;
	list-style-type:square;
	font-size: 18px;
}

.lessonBackground {
  display: flex;
  padding: 2px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  border: solid;
  border-radius: 10px;
background: rgb(101,97,97);
background: -moz-linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
background: -webkit-linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
background: linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#656161",endColorstr="#cfc7c7",GradientType=1);
}

.divider{
  height: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
  border: solid;
  border-radius: 5px;
background: rgb(43,82,255);
background: -moz-linear-gradient(262deg, rgba(43,82,255,1) 0%, rgba(122,134,181,0.9202327327327328) 100%);
background: -webkit-linear-gradient(262deg, rgba(43,82,255,1) 0%, rgba(122,134,181,0.9202327327327328) 100%);
background: linear-gradient(262deg, rgba(43,82,255,1) 0%, rgba(122,134,181,0.9202327327327328) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b52ff",endColorstr="#7a86b5",GradientType=1);
}

.column {
	flex: 50%;
  padding: 40px 10px;
}

.button {
  background-color: rgba(59,60,63,1.00); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 120px;
}

.button:hover {
background: rgb(59,110,214);
background: -moz-radial-gradient(circle, rgba(59,110,214,1) 0%, rgba(106,142,247,0.9700922605370274) 100%);
background: -webkit-radial-gradient(circle, rgba(59,110,214,1) 0%, rgba(106,142,247,0.9700922605370274) 100%);
background: radial-gradient(circle, rgba(59,110,214,1) 0%, rgba(106,142,247,0.9700922605370274) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b6ed6",endColorstr="#6a8ef7",GradientType=1);
  color: black;
  border-radius: 5px;
font-weight: bold;
}

.unitTitle {
	font-weight: bold;
	font-size: 40px;
	color: lavenderblush;
	text-align: center;
}

.titlePic {
	  
    display: block;
  	margin-right: auto;
	margin-left: auto;
  	width:90%;
	border-radius: 15px;
}
/*Lesson Snippets*/
.lessonTitle {
	text-align: center;
	color: lavenderblush;
}

.Lesson {
	border-radius: 15px;
	background: rgb(101,97,97);
background: -moz-linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
background: -webkit-linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
background: linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#656161",endColorstr="#cfc7c7",GradientType=1); 
	
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"Title Title Title"
		"Descr Buttons Videos"
		"Item Item Item"
		
}
.Lesson3Vid {
		border-radius: 15px;
	background: rgb(101,97,97);
background: -moz-linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
background: -webkit-linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
background: linear-gradient(262deg, rgba(101,97,97,1) 0%, rgba(207,199,199,0.9442567567567568) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#656161",endColorstr="#cfc7c7",GradientType=1); 
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"Title Title Title Title Title"
		"Descr Buttons Video1 Video2 Video3"
		"Item Item Item Item Item"
}

.LessonTitleBox {
	grid-area: Title;
	background: rgb(101,97,97);
	border-radius: 15px 15px 5px 5px;
	align-content: center;
}
.QuizTitleBox {
	grid-area: Title;
	background: rgb(196,50,50);
background: -moz-linear-gradient(262deg, rgba(196,50,50,1) 0%, rgba(191,150,153,0.9700922605370274) 100%);
background: -webkit-linear-gradient(262deg, rgba(196,50,50,1) 0%, rgba(191,150,153,0.9700922605370274) 100%);
background: linear-gradient(262deg, rgba(196,50,50,1) 0%, rgba(191,150,153,0.9700922605370274) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c43232",endColorstr="#bf9699",GradientType=1);
	border-radius: 15px 15px 5px 5px;
	align-content: center;
}

.LessonDescription {
	grid-area: Descr;
	padding: 4%;
	
}

.LessonButtons {
	grid-area: Buttons;
	padding: 4%
}

.LessonVideos {
	grid-area: Videos;
	padding: 5% 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
.Video1 {
	grid-area: Video1;
	padding: 30px 10px;
}
.Video2 {
	grid-area: Video2;
	padding: 30px 10px;
}
.Video3 {
	grid-area: Video3;
	padding: 30px 10px;
}
.Item {
	grid-area: Item;
}
.outcomesli {
	padding: 5px
}

iframe {
	width: 100%;
	height: 280px;
	display: block;
	margin: 15px 0;
	border-radius: 20px;
}

/* Style the header */
header {
  padding: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  border: solid;
  border-radius: 10px;
background: rgb(43,82,255);
background: -moz-linear-gradient(262deg, rgba(43,82,255,1) 0%, rgba(122,134,181,0.9202327327327328) 100%);
background: -webkit-linear-gradient(262deg, rgba(43,82,255,1) 0%, rgba(122,134,181,0.9202327327327328) 100%);
background: linear-gradient(262deg, rgba(43,82,255,1) 0%, rgba(122,134,181,0.9202327327327328) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b52ff",endColorstr="#7a86b5",GradientType=1);
}
#panther {
  padding: 28px 10px;
  float: left;
  width: 8%;
  opacity: 0.7;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999;
}
.cal {
  position: absolute;
  width:100%;
  height: 800px;
  border-radius: 10px;
}
.container {
  padding-bottom: 56.25%;
  padding-top: 10px;
  position: relative;
  display: block;
  width: 100%
}
h1 {
  font-size: 3.5em;
  cursor: pointer; 
}
p {
  margin-top: 20px;
  font-size: 1.2em;
  background-color: lavenderblush;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: justify;
  border-radius: 10px;
  border-style: solid;
}
/* Style the top navigation bar */
nav {
  height: 60px;
  background-color: rgba(50, 50, 50, 1);
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
  
}
nav ul {
  z-index: 999;
  padding: 0px;
  margin: 0px;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 1);
	
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;

}
nav ul li a {
  transition: all 0.3s ease 0s;
  list-style: none;
  display: block;
  color: lavenderblush;
  padding: 19px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
	
	
}
nav ul li ul {
  position: absolute;
  padding-top: 10px;
  border-style: none;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(50, 50, 50, 1);
}
nav ul li ul li {
  width: 200px;
}
nav ul li ul li a {
  padding: 8px 15px;
  font-size: 1.1em;
  font-weight: lighter;
}
nav ul li ul li ul {
  position: absolute;
  padding: 0px 0px;
  border-style: none;
  border-radius: 5px;
  background-color:rgba(50, 50, 50, 1);
}
nav ul.sub {
  position: absolute;
  display: none;
}
nav ul.sub li ul.sub {
  top: 0px;
  left: 200px;
}
/* Change color on hover */
nav li a:hover {
background: rgb(59,110,214);
background: -moz-radial-gradient(circle, rgba(59,110,214,1) 0%, rgba(106,142,247,0.9700922605370274) 100%);
background: -webkit-radial-gradient(circle, rgba(59,110,214,1) 0%, rgba(106,142,247,0.9700922605370274) 100%);
background: radial-gradient(circle, rgba(59,110,214,1) 0%, rgba(106,142,247,0.9700922605370274) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b6ed6",endColorstr="#6a8ef7",GradientType=1);
color: black;
border-radius: 5px;
font-weight: bold;
}
nav li a:hover span {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  right: 15px;
  top: 13px;
}

.allCoursesContainer{
	display: none;
}

/* style the Burger*/
.burger{
	padding: 15px;
	cursor: pointer;
	display: none;
}
.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: lavenderblush;
	
}

span {
  position: absolute;
  border: solid #fff0f5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  right: 15px;
  top: 13px;
}
nav li a:hover span {
  border: solid black;
  border-width: 0;
  display: inline-block;
  padding: 3px;
  right: 15px;
  top: 13px;
}
.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* Tablet device Nav Bar*/

@media screen and (max-width: 1045px) {
	body {
		width: 100%;
		overflow-x: hidden;
	}
	
/*Lesson Grid*/
	
	h2 {
		font-size: 4vh;
	}
	h3 {
	font-size: 2.5vh;
	}
	
	.outcomesli {
	padding: 2px;
	font-size: 16px;
}
	
	.Lesson {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 
		"Title Title"
		"Descr Buttons"
		"Videos Videos"
		"Item Item";
	}
	.Lesson3Vid {
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"Title Title Title"
		"Descr Buttons Buttons"
		"Video1 Video2 Video3"
		"Item Item Item";
}
	
.LessonDescription {
	padding: 2%
}

.LessonButtons {
	padding: 2% 0%;
}
iframe {
	width: 100%;
	height: 35vw;
	display: block;
	margin: 15px 0;
}

	.lessonBackground {
  display: block;
}
	
	
	.button {
  margin-bottom: 10px;
}
/*For Documents snippet. done with flex*/
.column {
	flex: 100%;
  padding: 10px;
}

.titlePic {

 margin: 0 auto;
	max-width: 90%
  
}
	
	/*Nav Bar*/
	
	.burger{
		float: right;
		display: block;
	}
	
	.allCourses{
		float: left;
		position: relative;
		right: 30px;
		top: 18px;
		list-style-type: none;
		font-weight: bold;
  		font-size: 1.1em;
		color: lavender;
	}
	
	.allCoursesContainer{
		display: block;
		float: right;
		align-content: center;	
	}
	
	nav ul {
		
		position: absolute;
		right: 0px;
		top: 61px;
		width: 300px;
		height:auto;
		background-color: rgba(50, 50, 50, 1);
		display: block;
		align-content: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		
	}
	
	nav ul li {
		padding: 20px 50px;
		width: 200px;
		display: flex;
		flex-direction: column;
		
	}
	
	.grades {
		opacity: 0%;
	}
	
nav ul li ul {
  position: absolute;
  right: 0px;
  top: 61px;
  height:auto;
  padding-top: 10px;
  border-style: none;
  border-radius: 5px;
  background-color:rgba(50,50,50,1);
	
}
nav ul li ul li {
  width: 200px;
  
}
nav ul li ul li a {
  padding: 20px 15px;
  font-size: 1.1em;
  font-weight: lighter;
}
nav ul li ul li ul {
  position: absolute;
  padding: 0px 0px;
  border-style: none;
  border-radius: 5px;
  background-color:rgba(50, 50, 50, 1);

}
	nav ul.sub {
  position: absolute;
  display: none;
  top:-8px;
  right: 20px;
}	

nav ul.sub li ul.sub {
  top: -10px;
  left: -8px;
}
	
	/* when screen is small slides the nav from off screen */
.nav-active {
	transform: translateX(0%);	
	}
	/* when a grade is clicked, it slides of the screen */
.nav-active2 {
		transform: translateX(-80%);
	}
.nav-active3 {
		transform: translateX(-180%);
	}
	
 span {
  position: absolute;
  border: solid #fff0f5;
  border-width: 0;
  
}
	
}

@media screen and (max-width: 600px) {
	iframe {
	width: 100%;
	height: 280px;
	display: block;
	margin: 15px 0;
	border-radius: 12px;
}
	.Lesson3Vid {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas: 
		"Title Title"
		"Descr Buttons"
		"Video1 Video2"
		"Video3 Video3"
		"Item Item";
}
	.Video1 {
	padding: 10px;
}
.Video2 {
	padding: 10px;
}
.Video3 {
	padding: 10px;
}
}

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}



