@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');


body {

	background-image: url("Images/Math-Mathematics-Formula-Wallpaper-for-PC.jpg");
	background-attachment:fixed;
	width: 90%;
	margin: auto;
	align-content: center;
	font-family: "montserrat"
	
}
/* Style the header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	padding: 2px;
	margin-bottom: 15px;
  	text-align: center;
	border: solid;
	border-radius: 10px;
	background-color:rgba(163,163,173,0.9);
	
}

#panther {
	float: left;
	width: 10%;
	opacity: 0.7;
	border-radius: 5px;
}

/* Style the top navigation bar */
.topnav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	overflow: hidden;
  	background-color:rgba(50,50,50,1);
	border-style:solid;
	border-radius: 10px;
	
	
}

.topnav li {
	display: inline-block;
	padding: 0px 20px;
}

/* Style the topnav links */
.topnav li a {
	transition: all 0.3s ease 0s;
	list-style: none;
  	float: left;
  	display: block;
  	color: lavenderblush;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration:none;
	font-weight: bold;
	font-size: 1.3em
}

/* Change color on hover */
.topnav li a:hover {
	
  	background-color: #0088a9;
  	color: black;
	border-radius: 5px;
}
.cal {
  	position: absolute;
  	margin-left: auto;
  	margin-right: auto;
	border-radius: 10px;
	
	
}

#container {
	padding-bottom:56.25%; 
	position:relative; 
	display:block; 
	width: 100%
}

.email {
	text-align: right;
	
}

h1 {
	font-size: 3.5em;
	cursor: pointer;
		
}


p {
	margin-top: 20px;
	font-size: 1.2em;
	background-color:lavenderblush;
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: justify;
	border-radius: 10px;
	border-style: solid;
	
}

.material-icons {
	float: right
}







