body {
  	background: rgb(127,134,136);
background: linear-gradient(90deg, rgba(127,134,136,1) 12%, rgba(146,157,158,1) 100%);
 	width: 90%;
	margin: auto;
	align-content: center;

}
/* Style the header */
.header {
  padding: 10px;
  text-align: center;
color:#E2E3D8;

}

/* Style the top navigation bar */
.topnav {
	
  overflow: hidden;
  background-color: transparent;
	border-color: #D0D1C7;
	border-style:solid;
	border-width:thick;
	border-radius: 10px
	
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #E2E3D8;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
	font-weight: bold;
	font-size: 1.3em
	


}

/* Change color on hover */
.topnav a:hover {
  background-color: #F3E367;
  color: black;
	border-radius: 5px;
}
.cal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
padding-top: 40px;
	border-radius: 10px;

		
 
}

#container {
	padding-bottom:56.25%; 
	position:relative; 
	display:block; 
	width: 100%
}

.email {
	text-align: right;
	color: #F3E367;
}

h1 {
	font-size: 4em
}

img {
	
}

#panther {
	float: left;
	width: 10%
}

p {
	margin-top: 60px;
	font-size: 1.2em;
	color: #E2E3D8;
}
