@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
body {
  background-image: url("Images/Math-Mathematics-Formula-Wallpaper-for-PC.jpg");
  background-attachment: fixed;
  width: 90%;
  margin: auto;
  align-content: center;
  font-family: "montserrat"
}
/* Style the top navigation bar */
nav {
  height: 60px;
  background-color: rgba(50, 50, 50, 1);
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
  
}
nav ul {
  z-index: 999;
  padding: 0px;
  margin: 0px;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 1);
	
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;

}
nav ul li a {
  transition: all 0.3s ease 0s;
  list-style: none;
  display: block;
  color: lavenderblush;
  padding: 19px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
	
	
}
nav ul li ul {
  position: absolute;
  padding-top: 10px;
  border-style: none;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(50, 50, 50, 1);
}
nav ul li ul li {
  width: 200px;
}
nav ul li ul li a {
  padding: 8px 15px;
  font-size: 1.1em;
  font-weight: lighter;
}
nav ul li ul li ul {
  position: absolute;
  padding: 0px 0px;
  border-style: none;
  border-radius: 5px;
  background-color:rgba(50, 50, 50, 1);
}
nav ul.sub {
  position: absolute;
  display: none;
}
nav ul.sub li ul.sub {
  top: 0px;
  left: 200px;
}
/* Change color on hover */
nav li a:hover {
  background-color: #0088a9;
  color: black;
  border-radius: 5px;
}
nav li a:hover span {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  right: 15px;
  top: 13px;
}

.allCoursesContainer{
	display: none;
}

/* style the Burger*/
.burger{
	padding: 15px;
	cursor: pointer;
	display: none;
}
.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: lavenderblush;
	
}



/* Style the header */
header {
  padding: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  border: solid;
  border-radius: 10px;
  background-color: rgba(163, 163, 173, 0.9);
}
#panther {
  padding: 28px 10px;
  float: left;
  width: 8%;
  opacity: 0.7;
  border-radius: 10px;
  cursor: pointer;
  z-index: 999;
}
.cal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.container {
  padding-bottom: 56.25%;
  padding-top: 10px;
  position: relative;
  display: block;
  width: 100%
}
h1 {
  font-size: 3.5em;
  cursor: pointer; 
}
p {
  margin-top: 20px;
  font-size: 1.2em;
  background-color: lavenderblush;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: justify;
  border-radius: 10px;
  border-style: solid;
}
span {
  position: absolute;
  border: solid #fff0f5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  right: 15px;
  top: 13px;
}
.right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Mobile device Nav Bar*/

@media screen and (max-width: 1045px) {
	body {
		width: 100%;
	}
	.main{
		
	}
	
	.burger{
		float: right;
		display: block;
	
	}
	
	.allCourses{
		float: left;
		position: relative;
		right: 30px;
		top: 18px;
		list-style-type: none;
		font-weight: bold;
  		font-size: 1.1em;
		color: lavender;
	}
	
	.allCoursesContainer{
		display: block;
		float: right;
		align-content: center;	
	}
	
	nav ul {
		position: absolute;
		right: 38px;
		top: 61px;
		width: 300px;
		height: 100%;
		background-color: rgba(50, 50, 50, 1);
		display: block;
		align-content: center;
		
	}
	
	nav ul li {
		padding: 20px 50px;
		width: 200px;
	}
	
	nav ul li ul {
  position: absolute;
  right: 300px;
  height:auto;
  padding-top: 10px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(50, 50, 50, 1);
}
nav ul li ul li {
  width: 200px;
}
nav ul li ul li a {
  padding: 8px 15px;
  font-size: 1.1em;
  font-weight: lighter;
}
nav ul li ul li ul {
  position: absolute;
  padding: 0px 0px;
  border-style: none;
  border-radius: 5px;
  background-color:rgba(50, 50, 50, 1);
}
	
}

